doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    title BYRD ~ Bring Your Restricted Documents
    script(src='byrd.js')
    link(rel='stylesheet', href='styles/main.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic,700,300' rel='stylesheet' type='text/css')
    meta(name='viewport' content='width=device-width')
body
  #header
    table
      tr
        td.logo.desktop
          h1#logo BYRD
        td
          form#lookup(v-on:submit='resolve')
            input(type='text', placeholder='Paste a file alias here...', value='{{hash}}')
            input(type='submit', value='Find')
        td.menu
          button#more(v-on:click='showmore') About
    #menu(class='{{menuVisibility}}')
      button#less(v-on:click='showless') Close
      img(src='img/byrd_logo_logo.png', width='100%')
      p
        span The game is simple. You've got access to documents and&nbsp;
        strong we want you to leak them
        span .
      p
        span BYRD is a distributed network that allows you to share and access content with&nbsp;
        a(href='https://en.wikipedia.org/wiki/Plausible_deniability') plausible deniability
        span.
          . Files are encrypted, shredded, and disbursed all over the network. The chunks can be
          later retrieved and reassembled on your computer by using an easy to remember "alias".
      p
        a(href='https://gitlab.com/counterpoint/byrd/blob/master/README.md') Learn More →
      h3 Connected Peers ({{peers.length}})
      ul.peers
        li(v-for='peer in peers') {{peer}}
  #dropzone(v-on:click='openFileDialog', v-on:drop='queueFile')
    input#file(type='file', v-on:change='queueFile')
    img(src='/img/dropzone.svg')
    p.desktop Distribute a file by dragging it here.
    p.mobile Tap to distribute a file.
  #queue
    ul
      template(v-for='file in queued')
        li(class='{{file.status.type}}', v-bind:class='{"working":file.working}')
          h4
            strong {{file.filename}}
            em ({{file.size}} bytes)
          aside.status {{file.status.message}}
          button.upload(v-show='!file.working', v-on:click='distribute(file)') Distribute
  #files
