html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  color: #333;
  overflow: hidden;
}

h3 {
  color: #55487e;
  clear: both;
}

a {
  color: #719a48;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 14px;
}

#header h1 {
  height: 60px;
  margin: 0 24px 0 12px;
  background: url('/img/byrd_onecolor.svg') center center no-repeat;
  text-indent: -9999px;
  width: 60px;
  background-size: 90%;
  float: left;
}

#header table {
  background-color: #f6f6f6;
  border-top: 4px solid #55487e;
  border-bottom: 1px solid #e2e2e2;
  padding: 12px;
  margin: 0;
  overflow: hidden;
  display: table;
  width: 100%;
}

#header td.logo {
  width: 60px;
}

#header td.menu {
  width: 44px;
}

#lookup {
  float: left;
  margin: 8px 0;
  background: #fefefe;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#lookup input[type="text"] {
  font-size: 16px;
  margin: 12px;
  border-radius: 2px;
  background: #fefefe;
  width: 100%;
  float: left;
  border: none;
}

#lookup input[type="text"]:focus {
  outline: none;
}

#lookup input[type="submit"] {
  width: 44px;
  height: 38px;
  display: inline-block;
  background: url('/img/search.svg') center center no-repeat #719a48;
  border: 0;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 2px;
  background-size: 75%;
  position: absolute;
  margin: 3px;
  right: 0;
}

#lookup input[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer;
}

#more {
  width: 44px;
  height: 44px;
  text-indent: -9999px;
  background: url('/img/menu.svg') center center no-repeat;
  background-size: 64%;
  margin: 8px 12px;
  border: none;
  opacity: 0.4;
  float: right;
}

#less {
  background: url('/img/x-mark.svg') center center no-repeat;
  width: 34px;
  height: 34px;
  border: none;
  background-size: 100%;
  text-indent: -9999px;
  opacity: 0.4;
  float: right;
}

#less:hover, #more:hover {
  opacity: 0.6;
  cursor: pointer;
}

#less:focus, #more:focus {
  outline: none;
}

#menu {
  position: fixed;
  top: 0;
  right: -320px;
  bottom: 0;
  width: 272px;
  background-color: #f6f6f6;
  box-shadow: 0 0 5px #666;
  padding: 24px;
  border-top: 4px solid #719a48;
  overflow: auto;
}

@keyframes showmore {
  from { right: -320px; }
  to { right: 0; }
}

@keyframes showless {
  from { right: 0; }
  to { right: -320px; }
}

#menu.visible {
  right: 0;
  animation-name: showmore;
  animation-duration: 0.25s;
}

#menu.invisible {
  right: -320px;
  animation-name: showless;
  animation-duration: 0.25s;
}

.peers {
  list-style-type: none;
  padding: 0 12px;
  margin: 0;
  font-family: monospace;
  background: #fff;
  border-radius: 2px;
  border: 1px solid #e2e2e2;
}

.peers li {
  margin: 12px 0;
}

#dropzone {
  background-color: #333;
  overflow: hidden;
  box-shadow: inset 0 0 5px #000;
  padding: 22px;
  border-bottom: 4px solid #719a48;
}

#dropzone:hover {
  background-color: #444;
  cursor: pointer;
}

#file {
  display: none;
}

#dropzone img {
  width: 38px;
  height: 38px;
  padding: 6px 16px;
  float: left;
}

#dropzone p {
  float: left;
  margin: 15px 0;
  color: #fff;
}

.mobile {
  display: none;
}

#queue ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#queue ul li {
  padding: 24px;
  border-bottom: 1px solid #d2d2d2;
  overflow: hidden;
}

#queue ul li.working {
  background: url('/img/loading.png') 0 0 repeat;
  animation: loading 8s linear infinite;
}

#queue li.working .upload {
  display: none;
}

@keyframes loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

#queue ul li h4 {
  margin: 0 0 12px 0;
  color: #55487e;
  font-size: 14px;
  overflow: hidden;
}

#queue ul li h4 strong {
  float: left;
}

#queue ul li h4 em {
  font-weight: normal;
  font-style: normal;
  font-family: monospace;
  float: right;
}

#queue aside.status {
  color: #666;
  font-size: 12px;
  float: left;
  padding: 4px 0;
}

#queue .upload {
  float: right;
  background: #719a48;
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 2px;
  padding: 6px 12px;
  text-transform: uppercase;
}

#queue .upload:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 858px) {



}

@media (max-width: 612px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

}
