html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  overflow: hidden;
}

header h1 {
  height: 60px;
  margin: 0 24px 0 12px;
  background: url('/img/byrd_logo_icon.png') center center no-repeat;
  text-indent: -9999px;
  width: 60px;
  background-size: 90%;
  float: left;
}

header {
  background-color: #f6f6f6;
  border-top: 4px solid #55487e;
  border-bottom: 1px solid #e2e2e2;
  padding: 12px;
  margin: 0;
  overflow: hidden;
}

#lookup {
  float: left;
  padding: 8px 0;
}

#lookup input[type="text"] {
  font-size: 16px;
  padding: 12px;
  border-radius: 2px;
  background: #fefefe;
  width: 600px;
  border: 1px solid #e2e2e2;
}

#lookup input[type="text"]:focus {
  outline: none;
}

#lookup input[type="submit"] {
  width: 44px;
  height: 38px;
  display: inline-block;
  background: url('/img/search.svg') center center no-repeat #719a48;
  border: 0;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 2px;
  background-size: 75%;
  position: relative;
  left: -47px;
  top: -1px;
}

#lookup input[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer;
}

#more {
  width: 44px;
  height: 44px;
  text-indent: -9999px;
  background: url('/img/menu.svg') center center no-repeat;
  background-size: 64%;
  margin: 8px 12px;
  border: none;
  opacity: 0.4;
  float: right;
}

#less {
  background: url('/img/x-mark.svg') center center no-repeat;
  width: 34px;
  height: 34px;
  border: none;
  background-size: 100%;
  text-indent: -9999px;
  opacity: 0.4;
  float: right;
}

#less:hover, #more:hover {
  opacity: 0.6;
  cursor: pointer;
}

#less:focus, #more:focus {
  outline: none;
}

#menu {
  position: absolute;
  top: 0;
  right: -320px;
  bottom: 0;
  width: 272px;
  background-color: #f6f6f6;
  box-shadow: 0 0 5px #666;
  padding: 24px;
  border-top: 4px solid #719a48;
}

@keyframes showmore {
  from { right: -320px; }
  to { right: 0; }
}

@keyframes showless {
  from { right: 0; }
  to { right: -320px; }
}

#menu.visible {
  right: 0;
  animation-name: showmore;
  animation-duration: 0.25s;
}

#menu.invisible {
  right: -320px;
  animation-name: showless;
  animation-duration: 0.25s;
}

#indicator {
  float: left;
  margin: 12px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

#indicator.idle {
  background-color: #d2d2d2;
}

#indicator.working {
  background-color: blue;
}

#indicator.failed {
  background-color: red;
}

#indicator.success {
  background-color: green;
}

h3 {
  color: #55487e;
  clear: both;
}

a {
  color: #719a48;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-size: 14px;
}


@media (max-width: 850px) {

  #lookup input[type="text"] {
    width: 354px;
  }

}

@media (max-width: 600px) {

  header h1 {
    display: none;
  }

  #lookup {
    padding: 8px 0;
    width: 256px;
  }

  #lookup input[type="submit"] {
    width: 34px;
    height: 36px;
    top: 28px;
    left: 232px;
    position: absolute;
  }

  #lookup input[type="text"] {
    width: 232px;
  }

  #more {
    width: 32px;
    height: 32px;
    margin: 12px 0;
  }

}
